allure-pytest==2.13.5
assertpy==1.1
beautifulsoup4==4.12.3
pytest==8.3.5
requests==2.32.3
selene==2.0.0rc9
selenium==4.27.1
jsonschema==4.23.0
pylint==3.3.3
pylint-exit==1.2.0
anybadge==1.16.0
voluptuous==0.15.2
pytest-voluptuous==1.2.0
curlify==2.2.1
webdriver-manager==4.0.2
mimesis==18.0.0
